spring:
  application:
    name: finar
  datasource:
    url: jdbc:postgresql://<host>:<port>/<db>?user=<username>&password=<password>
  jpa:
    hibernate:
      ddl-auto: create
    generate-ddl: true
  data:
    redis:
      host: <host>
      port: 6379
server:
  servlet:
    session:
      timeout: 600s
  port: <port>